IMPORTS

In [31]:
import pyodbc

CONNECTION PARAMETERS

Use Trusted_Connection for Windows Authentication

Escaped the backslash by doubling it \\

In [32]:
server = 'SKUBI_PECET\\SQLEXPRESS'
database = 'tda'
username = 'your_username'
password = 'your_password'

connection = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;')

CONNECTION CURSOR

In [33]:
cursor = connection.cursor()

SQL QUERY

In [34]:
ins_query = "INSERT INTO Worker (Description) VALUES ('knur')"

In [35]:
sel_query = "SELECT * FROM Worker"

QUERY EXECUTE

In [36]:
cursor.execute(ins_query)

In [37]:
connection.commit()

In [38]:
cursor.execute(sel_query)

FETCH THE TABLES

In [39]:
rows = cursor.fetchall()

# i = row
for i in rows:
    print(i)

(31, 'knur')
(32, 'knur')
(33, 'knur')

CLOSE THE CONNECTION

In [40]:
cursor.close()
connection.close()